/* Go.module.css */

.go-ul {
  list-style-type: none;
}

.go-li {
  display: inline-block;
}

.go-cb[type="checkbox"][id^="cb"] {
  display: none;
}

.go-label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  text-align: center;
}

.go-label:before {
  background-color: white;
  color: black;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid #ec6342;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.go-label Image {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

.go-cb:checked + .go-label {
  border-color: #ec6342;
}

.go-cb:checked + .go-label:before {
  content: "✓";
  background-color: #ec6342;
  transform: scale(1);
}

.go-cb:checked + .go-label img {
  transform: scale(0.9);

  z-index: -1;
}
